{% extends '::base.html.twig' %}{% block title %}
    Add User
{% endblock %}
{% block content %}
<div id="page-heading"><h1>Add User</h1></div>

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	{% include "AdminBundle::tableStart.html.twig" %}
	<tr>
		<td id="tbl-border-left"></td>
		<td valign="top">
			<!--  start content-table-inner -->
			<div id="content-table-inner">
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr valign="top">
						<td>
							<!--  start step-holder -->
							<!--  end step-holder -->
							<!-- start id-form -->
							<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} novalidate="disable">
							{{ form_errors(form) }}
							<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
								<tr>
									<th valign="top">{{ form_label(form.username) }}</th>
									<td>{{ form_widget(form.username) }}</td>
									<td>
									{% if form_errors(form.username) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.username) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.email) }}</th>
									<td>{{ form_widget(form.email) }}</td>
									<td>
									{% if form_errors(form.email) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.email) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.name) }}</th>
									<td>{{ form_widget(form.name) }}</td>
									<td>
									{% if form_errors(form.name) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.name) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.password.Password) }}</th>
									<td>{{ form_widget(form.password.Password) }}</td>
									<td>
									{% if form_errors(form.password) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.password) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.password.Confirm_Password) }}</th>
									<td>{{ form_widget(form.password.Confirm_Password) }}</td>
									<td>
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.address1) }}</th>
									<td>{{ form_widget(form.address1) }}</td>
									<td>
									{% if form_errors(form.address1) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.address1) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.address2) }}</th>
									<td>{{ form_widget(form.address2) }}</td>
									<td>
									{% if form_errors(form.address2) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.address2) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.country) }}</th>
									<td>{{ form_widget(form.country) }}</td>
									<td>
									{% if form_errors(form.country) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.country) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.state) }}</th>
									<td>{{ form_widget(form.state) }}</td>
									<td>
									{% if form_errors(form.state) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.state) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.city) }}</th>
									<td>{{ form_widget(form.city) }}</td>
									<td>
									{% if form_errors(form.city) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.city) }}</div>
									{% endif %}
									</td>
								</tr>
								
								{% if app.session.get('role_name') == 'ROLE_STAFF' %}
								<tr>
									<th valign="top">{{ form_label(form.clientPayment.paymentMode) }}</th>
									<td>{{ form_widget(form.clientPayment.paymentMode) }}</td>
									<td>
									{% if form_errors(form.clientPayment.paymentMode) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.clientPayment.paymentMode) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.clientPayment.amountReceived) }}</th>
									<td>{{ form_widget(form.clientPayment.amountReceived) }}</td>
									<td>
									{% if form_errors(form.clientPayment.amountReceived) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.clientPayment.amountReceived) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.clientPayment.dueAmount) }}</th>
									<td>{{ form_widget(form.clientPayment.dueAmount) }}</td>
									<td>
									{% if form_errors(form.clientPayment.dueAmount) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.clientPayment.dueAmount) }}</div>
									{% endif %}
									</td>
								</tr>
								<tr>
									<th valign="top">{{ form_label(form.clientPayment.totalAmount) }}</th>
									<td>{{ form_widget(form.clientPayment.totalAmount) }}</td>
									<td>
									{% if form_errors(form.clientPayment.totalAmount) %}
									<div class="error-left"></div>
									<div class="error-inner">{{ form_errors(form.clientPayment.totalAmount) }}</div>
									{% endif %}
									</td>
								</tr>
								{% endif %}
								<tr>
									<th>&nbsp;</th>
									<td valign="top">
										{{ form_rest(form) }}
        								<button type="submit" class="form-submit">Create</button>
									</td>
									<td></td>
								</tr>
							</table>
							</form>
							<!-- end id-form  -->
						</td>
						<td>
						</td>
					</tr>
				</table>
				<div class="clear"></div>
			</div>
			<!--  end content-table-inner  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	{% include "AdminBundle::tableEnd.html.twig" %}
</table>
<div class="clear">&nbsp;</div>
{% endblock %}